/* section {
  width: 100%;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
} */

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 3%;
  background: linear-gradient(100deg, #001214, #001f29);
  color: white;
  transition: 0.3s linear;
  overflow: hidden;
}

.header,
.form,
.datetime {
  margin: 0.1rem;
  min-height: 10vh;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  min-height: 25vh;
}

section h1 {
  color: #fff;
  font-size: 4.8rem;
  text-align: center;
}

.date-time {
  font-size: 2.4rem;
  text-align: center;
}

.completed {
  text-decoration: line-through;
  color: gray !important;
}

form {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  margin: 15px 0;
  padding: 0.8rem;
  width: 100%;
}

form input {
  padding: 10px;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  border: none;
  outline: none;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  transition: background-color 200ms ease-in-out;
  width: 100%;
  background-color: #f2f3f4;
  color: #333;
}

form input:hover {
  cursor: text;
}

form input::placeholder {
  color: #777;
  opacity: 0.7;
}

form button {
  padding: 19px;
  font-size: 17px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  min-width: 100px;
  background-color: #5dade2;
  color: black;
  border: none;
  outline: none;
  transition: background-color 200ms ease-in-out;
}

form button:hover {
  cursor: pointer;
  background-color: #f1c40f;
}

span {
  margin-right: 3.2rem;
}

.myUnOrdList {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.todo-list {
  min-width: 50%;
  list-style: none;
  padding: 0;
}

.todo-item {
  margin: 2rem auto;
  font-size: 30px;
  color: #1c2833;
  border-radius: 30px;
  transition: background-color 200ms ease-in-out;
  background-color: #f2f3f4;
  min-width: 30rem;
  max-width: 35rem;
  padding: 1.6rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  overflow-wrap: anywhere;
}

li span {
  max-width: 20rem;
  color: #1c2833;
}

.check-btn,
.delete-btn {
  font-size: 2.5rem;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: rgb(0, 0, 0);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: background-color 200ms ease-in-out;
}

.check-btn {
  color: #fff;
  background-color: #2ecc71;
}

.delete-btn {
  color: #fff;
  background-color: #e74c3c;
}

.check-btn:hover {
  background-color: #27ae60;
}

.delete-btn:hover {
  background-color: #c0392b;
}

.clear-btn {
  background-color: #e74c3c;
  font-size: 1.6rem;
  padding: 1rem 2.2rem;
  border-radius: 0.3rem;
  transition: background-color 200ms ease-in-out;
}

.clear-btn:hover {
  background-color: #8d1407;
}
